.container
  div.row
    div.col-sm-12
      div.page-header
          h1
            i.icon-dashboard
            | Dashboard
  div.row
    div.col-sm-6
      div.row
        div.col-sm-4
          div.well.stat
            div.stat-value 145
            div.stat-label Accounts
        div.col-sm-4
          div.well.stat
            div.stat-value 124
            div.stat-label Sensors
        div.col-sm-4
          div.well.stat
            div.stat-value 15
            div.stat-label Bridges
      div.row
        div.col-sm-4
          div.well.stat
            div.stat-value 14
            div.stat-label SMS
        div.col-sm-4
          div.well.stat
            div.stat-value 9
            div.stat-label Email
        div.col-sm-4
          div.well.stat
            div.stat-value 7
            div.stat-label Alerts