doctype 5
html
  head
    title HomeClub
    link(rel='icon', href='http://res.cloudinary.com/dujip8nqb/image/fetch/http://dl.dropboxusercontent.com/u/20868114/homeclub/favicon.ico', type='image/x-icon')
    link(rel='stylesheet', href='/stylesheets/vendor/toastr/toastr.css' + cachebust)
    link(rel='stylesheet', href='/stylesheets/consumer.css' + cachebust)
    link(rel='stylesheet', href='/stylesheets/icons.css')
    link(rel='stylesheet', href='/stylesheets/vendor/rickshaw/rickshaw.min.css' + cachebust)
    if reload
      script(src='/socket.io/socket.io.js')
      script(src='/javascripts/reload-client.js')

    if optimize
      script(src='/javascripts/admin-built.js')
    else
      script(src='/javascripts/vendor/requirejs/require.js', data-main='/javascripts/admin.js')

  body.ng-cloak(ng-show='currentUser')
    block content