.container
  .row
    .col-xs-12.page-header

      h3.pull-left(style='margin:0 0 15px') Connectivity (last 12 hours)

  .row
    .col-xs-12
      table.table
        tr
          th Account
          th Network Hub
          th Sensors
        tr(ng-repeat='(macAddress,hubTypes) in histograms')
          td
            a(href="#/customer-accounts/{{ macAddress.split('|')[2] }}/gateways/{{ macAddress.split('|')[0] }}", title="NH MAC: {{ macAddress.split('|')[0] }}") {{ macAddress.split('|')[1] }}
          td(ng-repeat='(sensorHubMacAddress,stats) in hubTypes.networkHubs')
            h6 {{ sensorHubMacAddress }}
            rickshaw(rickshaw-options='histogramOptions', rickshaw-features='histogramFeatures', rickshaw-series="stats")
          td(ng-repeat='(sensorHubMacAddress,stats) in hubTypes.sensorHubs')
            h6 {{ sensorHubMacAddress }}
            rickshaw(rickshaw-options='histogramOptions', rickshaw-features='histogramFeatures', rickshaw-series="stats")