.container
  .row
    .col-xs-12.page-header

      h3.pull-left(style='margin:0 0 15px')
        a(href='#/customer-accounts') Customers
        |  /
        | {{ account.name.first }} {{ account.name.last }}

      form.navbar-form.navbar-right(style='margin:0')
        .btn-group(ng-repeat='gateway in account.gateways')
          a.btn.btn-default(href='#/customer-accounts/{{ account._id }}/gateways/{{ gateway }}')
            | View Network Hub 
            small (..{{ gateway.substr(-4) }})

  .row
    .col-xs-12
      pre {{ account | json }}