style.
  .table > tbody > tr > td.am, .table > thead > tr > th.am, .am .label { vertical-align: middle }

.container

  include _filtercontrolswithcarrierselect

  .row
    .col-sm-12

      table.table
        thead
          tr
            th First
            th Last
            th City
            th State
            th.am
              i.icon-eye.muted
              |  Usage
              | &nbsp;&nbsp;
              small.muted
                span.label(style='background-color:#53b2da') web
                |  /&nbsp;
                span.label(style='background-color:#ff8000') mobile
            th Ship Date

        tbody
          tr(ng-repeat='account in accounts | filter:searchText | orderBy:sortOrder')
            td.am {{ account.name.first }}
            td.am {{ account.name.last }}
            td.am {{ account.city }}
            td.am {{ account.state }}
            td.col-xs-2.am
              rickshaw(rickshaw-options='histogramOptions', rickshaw-features='histogramFeatures', rickshaw-series='stats[account._id]')
            td.am {{ account.shipDate | date:'MMM dd, yyyy' }}