.container
  .row
    .col-xs-12.page-header

      h3.pull-left(style='margin:0 0 15px') Dashboard

  .row
    .col-xs-6
      .row
        .col-xs-4
          .well.ac
            h4 {{ aggregates.customerAccounts }}
            .text-muted Customers
        .col-xs-4
          .well.ac
            h4 {{ aggregates.gateways }}
            .text-muted Network Hubs
        .col-xs-4
          .well.ac
            h4 {{ aggregates.sensorHubs }}
            .text-muted Sensor Hubs

  .row
    .col-xs-6
      .row
        .col-xs-4
          .well.ac
            h4 {{ aggregates.outboundEmails }}
            .text-muted Email Alerts
        .col-xs-4
          .well.ac
            h4 {{ aggregates.outboundSms }}
            .text-muted SMS Alerts
        .col-xs-4
          .well.ac(style='padding:5px 5px 19px')
            rickshaw(rickshaw-options='histogramOptions', rickshaw-features='histogramFeatures', rickshaw-series='stats')
            .text-muted Usage

  //.row
    .col-xs-6
      .panel.panel-default
        .panel-heading Usage
        .panel-body
          rickshaw(rickshaw-options='histogramOptions', rickshaw-features='histogramFeatures', rickshaw-series='stats')