.container
  .row
    .col-xs-12.page-header

      h3.pull-left(style='margin:0 0 15px') Dashboard

  .row
    .col-xs-6
      .row
        .col-xs-4
          .well.ac
            h4 {{ aggregates.customerAccounts }}
            .text-muted Customers
        .col-xs-4
          .well.ac
            h4 {{ aggregates.sensorHubs }}
            .text-muted Sensor Hubs
        .col-xs-4
          .well.ac
            h4 {{ aggregates.gateways }}
            .text-muted HomeBases

  .row
    .col-xs-6
      .row
        .col-xs-4
          .well.ac
            h4 {{ aggregates.outboundEmails }}
            .text-muted Email Alerts
        .col-xs-4
          .well.ac
            h4 {{ aggregates.outboundSms }}
            .text-muted SMS Alerts