.container
  .row
    .col-xs-12.page-header

      h3.pull-left(style='margin:0 0 15px')
        a(href='#/customer-accounts/{{ account._id }}') {{ account.name.first }} {{ account.name.last }}
        |  /
        | Network Hub {{ gateway._id }}

  .row
    .col-xs-12
      pre {{ gateway | json }}