.container
  .row
    .col-xs-12.page-header

      h3.pull-left(style='margin:0 0 15px') Reports


  .row
    .col-xs-6
      form(name='reportsForm')
        .form-group.col-xs-6(ng-class="{'has-error': !reportParams.startDt}")
          label(for='start').control-label Start
          input(type='date', max="{{ reportParams.endDt | date:'yyyy-MM-dd' }}", ng-model='reportParams.startDt', id='start', required).form-control
          p(ng-hide='reportParams.startDt').help-block Please enter start date
        .form-group.col-xs-6(ng-class="{'has-error': !reportParams.endDt}")
          label(for='end').control-label End
          input(type='date', ng-model='reportParams.endDt', id='end', required).form-control
          p(ng-hide='reportParams.endDt').help-block Please enter end date
  .row
    .col-xs-6
      .page-header(style='margin-top:0; padding-top:0')
        h3(style='margin:15px 0 10px')
          | Download links&nbsp;
          small(ng-show='reportParams.startDt && reportParams.endDt') {{ reportParams.startDt | date:'MMM d yyyy' }}* - {{ reportParams.endDt | date:'MMM d yyyy' }}
        p(ng-show='reportParams.startDt').help-block * test data prior to ship date(s) will not be included in reports
      .alert.alert-info(ng-hide='reportParams.startDt && reportParams.endDt') Please select start and end dates
      .list-group(ng-show='reportParams.startDt && reportParams.endDt')
        a(ng-href="{{ downloadUrlByMsgType('0') }}").list-group-item Download Network Hub heartbeat report
        a(ng-href="{{ downloadUrlByMsgType('2') }}").list-group-item Download Network Hub events report
        a(ng-href="{{ downloadUrlByMsgType('4') }}").list-group-item Download Sensor events report
        a(ng-href="{{ downloadUrlByMsgType('5') }}").list-group-item Download Sensor readings report
        a(ng-href='/api/google-analytics/usage-report?startDates={{ reportParams.startDt }}&carrier={{ reportParams.carrier }}').list-group-item Download customer web / mobile usage report
      .alert.alert-warning
        | Click
        a(href='https://drive.google.com/a/senteri.com/file/d/0B2Iy-q3TnvS7UmlDSVlfMUFfdGs/view?usp=sharing', target='_')  here
        |  for data dictionary