.container

  include _filtercontrolswithcarrierselect

  .row
    .col-sm-12

      table.table
        thead
          tr
            th First
            th Last
            th City
            th State
            th
            th

        tbody
          tr(ng-repeat='account in accounts | filter:selectedCarrier | filter:searchText | orderBy:sortOrder')
            td: a(href='#/customer-accounts/{{ account._id }}') {{ account.name.first }}
            td {{ account.name.last }}
            td {{ account.city }}
            td {{ account.state }}
            td
              a.btn.btn-default.btn-xs(href='#/outbound-commands?customerAccount={{ account._id }}') Outbound Commands
            td
              a: i.icon-trashcan