style.
  p.help-block {
    text-overflow:ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
  }

.navbar
  .container.subnav
    .navbar-header
      .navbar-brand Customer Account import

.container
  .row
    .col-xs-6
      form(name='importForm')
        .form-group
          select.form-control(ng-model='selectedCarrier', ng-options='c._id as c.name for c in carriers')
        .form-group(ng-class="{ 'has-error':importForm.spreadsheetKey.$error.minlength || importForm.spreadsheetKey.$error.maxlength }")
          input.form-control(name='spreadsheetKey', ng-model='spreadsheetKey', ng-minlength='44', ng-maxlength='44', placeholder='Spreadsheet Key (i.e. 1Q5Dk_jFqGpHtV54hlHQgamkpbckiC4ObQkXybTvowhg)', required)
          p.help-block(ng-if='importForm.spreadsheetKey.$error.minlength')
            | .. too short (should be 44 characters)
          p.help-block(ng-if='importForm.spreadsheetKey.$error.maxlength')
            | .. too long (should be 44 characters)
          p.help-block
            small
              | https://docs.google.com/spreadsheet/ccc?key=
              strong 1Q5Dk_jFqGpHtV54hlHQgamkpbckiC4ObQkXybTvowhg
              | &hl
              br
              | https://docs.google.com/spreadsheets/d/
              strong 1Q5Dk_jFqGpHtV54hlHQgamkpbckiC4ObQkXybTvowhg
              | /edit#gid=0
        button.btn(ng-disabled='importForm.$invalid', ng-class="{ 'btn-default disabled':loading, 'btn-warning':!loading }", ng-click='preview()')
          span(ng-hide='loading') Preview
          span(ng-show='loading') .. loading
        button.btn.btn-success(ng-click='save()', ng-show='accounts', style='margin-left:10px') Save
        p.help-block(ng-show='accounts')
          | If data below is correct click 'Save'.
          br
          | Don't worry about the order or formatting.

  .row(ng-show='duplicateAccounts')
    .col-xs-12
      .panel.panel-danger(style='margin-top:10px')
        .panel-heading Duplicate Emails
        .panel-body: p Each account must have a unique email.  Please edit/delete the following rows in your spreadsheet.
        table.table.table-condensed
          thead
            tr
              th(ng-repeat='key in keys') {{ key }}

          tbody
            tr(ng-repeat='account in duplicateAccounts')
              td(ng-repeat='key in keys') {{ account[key] }}


  .row(ng-show='accounts')
    .col-xs-12

      table.table.table-condensed
        thead
          tr
            th(ng-repeat='key in keys') {{ key }}

        tbody
          tr(ng-repeat='account in accounts')
            td(ng-repeat='key in keys') {{ account[key] }}