.container

  include _filtercontrolswithcarrierselect

  .row
    .col-xs-12
      table.table
        thead
          tr
            th Sent
            th Delivered
            th Resolved
            th To
            th Type
            th

        tbody
          tr(ng-repeat='ob in outboundCommands| filter:selectedCarrier | filter:searchText | orderBy:sortOrder')
            td {{ ob.sentAt | date:'MMM dd, h:mm a' }}
            td {{ ob.deliveredAt | date:'h:mm a' }}
            td.text-success {{ ob.resolvedAt | date:'h:mm a' }}
            td {{ formattedNames[ob.customerAccount] }}
            td {{ msgTypesFormatted(ob.msgType, ob.params.action) }}
            td
              a.btn.btn-xs.btn-default(data-toggle='collapse', ng-href='#{{ ob._id }}_command') command
              .collapse(id='{{ ob._id }}_command')
                pre {{ ob.command | json }}
              a.btn.btn-xs.btn-default(data-toggle='collapse', ng-href='#{{ ob._id }}') params
              .collapse(id='{{ ob._id }}')
                pre {{ ob.params | json }}